{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
    - Campus
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">

{% endblock %}

{% block body %}
    <div class="baseForm">

    <h1>Gérer les campus</h1>

    <div>
    {% for camp in campus %}
        {#        Nom des campus#}
        <div class="adminVille">
            <div>
                <p class="ville">{{ camp.nom }}</p>
            </div>

            <div>
                <button class="form-button-modifer" onclick="modifierLieu()">Modifier</button>
            <form action="{{ path('campus_delete', {'id' : camp.id}) }}" method="post">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ camp.id) }}">
                <button class="form-button-supprimer">Supprimer</button></form>
            </div>
        </div>

    {% endfor %}


    {{ form_start(campusForm) }}
    <div class="adminVille">
        <div class="label-ville">
            {{ form_label(campusForm.nom) }}
            {{ form_widget(campusForm.nom) }}
            {{ form_errors(campusForm.nom) }}
        </div>
        <div>
            {{ form_label(campusForm.ajouter) }}
            {{ form_widget(campusForm.ajouter) }}
        </div>



    </div>

    {{ form_end(campusForm) }}

    </div>
        </div>
{% endblock %}

{% block javascripts %}
    <script>

        function modifierLieu(){

            let ville = document.querySelector('.ville')

            ville.innerHTML='<div></div>'

        }


    </script>




{% endblock %}


