{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }}
    - Campus
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
    <link rel="stylesheet" href="{{ asset('css/campus-ville.css') }}">
{% endblock %}

{% block body %}
    <div class="baseForm">
    <div class="titre">
    <h1>Gérer les campus</h1>
    </div>
    <div>

    {% for camp in campus %}

        {#        Nom des campus#}
        <div class="adminVille" >
            <div class="divVille" id="campus-{{ camp.nom }}">
                <p class="ville">{{ camp.nom }}</p>
            </div>

            <div class="modification" id="mod-{{ camp.nom }}">

                <form method="get" action="{{ path('campus_modify') }}">
                    <input name="label" type="text" value="{{ camp.nom }}">
                    <input name="id" type="hidden" value="{{ camp.id }}">
                    <button id="btnValid" class="form-button-modifer" type="submit">Valider</button>
                </form>

                <button class="form-button-supprimer" onclick="resetCampus('{{ 'campus-'~camp.nom }}', '{{ 'mod-'~camp.nom}}')">Annuler</button>
            </div>

            <div class="ville-button">
                <button class="form-button-modifer" onclick="modifierCampus('{{ 'campus-'~camp.nom }}', '{{ 'mod-'~camp.nom}}')">Modifier</button>
            <form action="{{ path('campus_delete', {'id' : camp.id}) }}" method="post">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ camp.id) }}">
                <button class="form-button-supprimer">Supprimer</button></form>
            </div>
        </div>

    {% endfor %}

    {{ form_start(campusForm) }}
    <div class="adminVille">
        <div class="label-ville">
            {{ form_label(campusForm.nom) }}
            {{ form_widget(campusForm.nom) }}
            {{ form_errors(campusForm.nom) }}
        </div>
        <div class="ville-button">
            {{ form_label(campusForm.ajouter) }}
            {{ form_widget(campusForm.ajouter) }}
        </div>

    </div>

    {{ form_end(campusForm) }}

    </div>
        </div>
{% endblock %}

{% block javascripts %}
    <script>

        function modifierCampus(idCampus, idMod){

                let modCamp = document.getElementById(idMod);
                modCamp.style.display = "flex";
                modCamp.style.height = "50px";
            let idCamp = document.getElementById(idCampus)
            idCamp.style.display = 'none';
            idCamp.style.height = "50px";

            let btnValid = document.getElementById('btnValid');
            btnValid.style.display = 'flex';
            btnValid.style.height = "50px";
            }

        function resetCampus(idCampus, idMod){

            let modCamp = document.getElementById(idMod);
            modCamp.style.display = "none";
            modCamp.style.height = "50px";
            let idCamp = document.getElementById(idCampus)
            idCamp.style.display = 'flex';
            idCamp.style.height = "50px";
        }

    </script>
{% endblock %}


