{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Sorties{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
    <link rel="stylesheet" href="{{ asset('css/sorties.css') }}">
{% endblock %}


{% block body %}

    <div class="baseForm">
        <div>
            {{ form(sortiesFiltersForm) }}
        </div>

        <div class="sortieContainer">

                {% for sortie in sorties %}
                    <article class="sortie">
    {#                    Titre + lien modif / affichage#}
                        {% if sortie.organisateur == app.user %}
                            <a id="field-titre" href="{{ path('modifierSortie', {'id': sortie.id}) }}">{{ sortie.titre }}</a>*
                            {% else %}
                                <a id="field-titre" href="{{ path('afficherSortie', {'id': sortie.id}) }}">{{ sortie.titre }}</a>
                        {% endif %}
    {#                    Date début sortie#}
                        <p id="field-dateDebut">{{ sortie.dateHeureDebut|date("d/m/Y") }}</p>
    {#                    Clôture#}
                        <p id="field-dateFin">{{ sortie.dateLimiteInscription|date("d/m/Y")}}</p>
    {#                    inscrits/places#}
                        <p id="field-Inscriptions">{{sortie.usersInscrits.count}} / {{ sortie.nbInscriptionsMax }}</p>
    {#                    Etat#}
                        <p id="field-etat">{{ sortie.etat.libelle }}</p>
    {#                    Inscrit#}
                        {% if sortie.usersInscrits.contains(app.user) %}
                            <p id="field-isInscrit">X</p>
                        {% endif %}
    {#                    Organisateur#}
                        <p id="field-orga">{{ sortie.organisateur.nom }}</p>
    {#                    Actions#}
                        {% if sortie.usersInscrits.contains(app.user) %}
                            <a id="field-desist" href="{{ path('seDesisterSortie', {'id': sortie.id}) }}">Se désister</a>
                            {% else %}
                                <a id="field-inscrire" href="{{ path('sInscrireSortie', {'id': sortie.id}) }}">S'inscrire</a>
                        {% endif %}

                    </article>

                {% endfor %}
        </div>

    </div>

{% endblock %}
