{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Sorties{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
    <link rel="stylesheet" href="{{ asset('css/sorties.css') }}">
{% endblock %}


{% block body %}

    <div class="baseForm double-border">
        <div id="btn-newSortie">
            <form action="{{ path('newSortie') }}">
                <input type="submit" value="Créer une sortie">
            </form>
        </div>

            <div id="filtersContainer">
                {{ form_start(sortiesFiltersForm) }}

                <div class="form-field">
                    {{ form_label(sortiesFiltersForm.campus) }}
                    {{ form_widget(sortiesFiltersForm.campus) }}
                    {{ form_errors(sortiesFiltersForm.campus) }}
                    <br>
                </div>
                <div class="form-field">
                    {{ form_label(sortiesFiltersForm.textFilter) }}
                    {{ form_widget(sortiesFiltersForm.textFilter) }}
                    {{ form_errors(sortiesFiltersForm.textFilter) }}
                    <br>
                </div>
                <div class="form-field">
                    {{ form_label(sortiesFiltersForm.dateDebut) }}
                    {{ form_widget(sortiesFiltersForm.dateDebut) }}
                    {{ form_errors(sortiesFiltersForm.dateDebut) }}
                    <br>
                </div>

                <div class="form-field">
                    {{ form_label(sortiesFiltersForm.dateFin) }}
                    {{ form_widget(sortiesFiltersForm.dateFin) }}
                    {{ form_errors(sortiesFiltersForm.dateFin) }}
                    <br>
                </div>
                <div class="form-field">
                    {{ form_label(sortiesFiltersForm.userOrga) }}
                    {{ form_widget(sortiesFiltersForm.userOrga) }}
                    {{ form_errors(sortiesFiltersForm.userOrga) }}
                    <br>
                </div>
                <div class="form-field">
                    {{ form_label(sortiesFiltersForm.userInscrit) }}
                    {{ form_widget(sortiesFiltersForm.userInscrit) }}
                    {{ form_errors(sortiesFiltersForm.userInscrit) }}
                    <br>
                </div>

                <div class="form-field">
                    {{ form_label(sortiesFiltersForm.userNonInscrit) }}
                    {{ form_widget(sortiesFiltersForm.userNonInscrit) }}
                    {{ form_errors(sortiesFiltersForm.userNonInscrit) }}
                    <br>
                </div>

                <div class="form-field">
                    {{ form_label(sortiesFiltersForm.sortiePassee) }}
                    {{ form_widget(sortiesFiltersForm.sortiePassee) }}
                    {{ form_errors(sortiesFiltersForm.sortiePassee) }}
                    <br>
                </div>

                <div class="form-buttons">
                    {{ form_widget(sortiesFiltersForm.submit) }}
                </div>
                {{ form_end(sortiesFiltersForm) }}
            </div>

        <div class="sortieContainer">

            <div class="sortie">
                <p class="field-titre">Titre</p>
                <p class="field-dateDebut">Date de début</p>
                <p class="field-dateFin">Date limite d'inscription</p>
                <p class="field-Inscriptions">Inscriptions</p>
                <p class="field-etat">Etat</p>
                <p class="field-isInscrit">Utilisateur inscrit ?</p>
                <p class="field-orga">Organisateur</p>
                <p class="field-desist">Actions</p>
            </div>

            {% if sorties|length == 0 %}


                <h2 class="sortie">Aucun résultat ne correspond à votre recherche</h2>

            {% else %}

            {% for sortie in sorties %}

                <article class="sortie">
                    {#                    Titre + lien modif / affichage #}

                    <button>
                        <a class="field-titre"
                           href="{{ path('afficherSortie', {'id': sortie.id}) }}">{{ sortie.titre }}
                        </a>
                    </button>
                    {#                    Date début sortie #}
                    <p class="field-dateDebut">{{ sortie.dateHeureDebut|date }}</p>
                    {#                    Clôture #}
                    <p>{{ sortie.dateLimiteInscription|date }}</p>
                    {#                    inscrits/places #}
                    <p class="field-Inscriptions">{{ sortie.usersInscrits.count }} / {{ sortie.nbInscriptionsMax }}</p>


                    {#                    Etat #}
                    <p class="field-etat">{{ sortie.etat.libelle }}</p>


                    {#                    Inscrit #}
                    {% if sortie.usersInscrits.contains(app.user) %}
                        <p class="field-isInscrit">Inscrit</p>
                    {% endif %}


                    {#                    Organisateur #}
                    <p class="field-orga">{{ sortie.organisateur.pseudo }}</p>


                    {#                    Actions #}
                    {% if sortie.dateLimiteInscription > now %}
                        {% if sortie.usersInscrits.contains(app.user) %}
                            <button>
                                <a class="field-actions" href="{{ path('seDesisterSortie', {'id': sortie.id}) }}">Se
                                    désister</a>
                            </button>
                        {% else %}
                            <button>
                                <a class="field-actions"
                                   href="{{ path('sInscrireSortie', {'id': sortie.id}) }}">S'inscrire</a>
                            </button>
                        {% endif %}
                    {% endif %}

                    {% if sortie.organisateur == app.user and sortie.etat.code == 'ENR' %}
                        <button>
                            <a class="field-actions"
                               href="{{ path('modifierSortie', {'id': sortie.id}) }}">Modifier</a>
                        </button>
                    {% endif %}


                </article>

            {% endfor %}
            {% endif %}
        </div>

    </div>

{% endblock %}
