{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Sorties{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
    <link rel="stylesheet" href="{{ asset('css/sorties.css') }}">
{% endblock %}


{% block body %}

    <div class="baseForm">
        <div id="btn-newSortie">
            <form action="{{ path('newSortie') }}">
                <input type="submit" value="Créer une sortie">
            </form>
        </div>

        <div style="border: 1px black solid">
            <div style="display: flex; justify-content: center; padding: 2em">
                <h2>Filtrer les sorties</h2>
            </div>

            <div id="filtersContainer">
                {{ form_start(sortiesFiltersForm) }}


                    <div class="filtre-sortie">


                <div class="form-field">
                    {{ form_label(sortiesFiltersForm.campus) }}
                    {{ form_widget(sortiesFiltersForm.campus) }}
                    {{ form_errors(sortiesFiltersForm.campus) }}
                    <br>
                </div>
                <div class="form-field">
                    {{ form_label(sortiesFiltersForm.textFilter) }}
                    {{ form_widget(sortiesFiltersForm.textFilter) }}
                    {{ form_errors(sortiesFiltersForm.textFilter) }}
                    <br>
                </div>
                <div class="form-field">
                    {{ form_label(sortiesFiltersForm.dateDebut) }}
                    {{ form_widget(sortiesFiltersForm.dateDebut) }}
                    {{ form_errors(sortiesFiltersForm.dateDebut) }}
                    <br>
                </div>

                <div class="form-field">
                    {{ form_label(sortiesFiltersForm.dateFin) }}
                    {{ form_widget(sortiesFiltersForm.dateFin) }}
                    {{ form_errors(sortiesFiltersForm.dateFin) }}
                    <br>
                </div>
                    </div>

                <div class="filtre-case">
                <div class="form-field">
                    {{ form_label(sortiesFiltersForm.userOrga) }}
                    {{ form_widget(sortiesFiltersForm.userOrga) }}
                    {{ form_errors(sortiesFiltersForm.userOrga) }}
                    <br>

                    {{ form_label(sortiesFiltersForm.userInscrit) }}
                    {{ form_widget(sortiesFiltersForm.userInscrit) }}
                    {{ form_errors(sortiesFiltersForm.userInscrit) }}
                    <br>



                    {{ form_label(sortiesFiltersForm.userNonInscrit) }}
                    {{ form_widget(sortiesFiltersForm.userNonInscrit) }}
                    {{ form_errors(sortiesFiltersForm.userNonInscrit) }}
                    <br>



                    {{ form_label(sortiesFiltersForm.sortiePassee) }}
                    {{ form_widget(sortiesFiltersForm.sortiePassee) }}
                    {{ form_errors(sortiesFiltersForm.sortiePassee) }}
                    <br>
                </div>
                    </div>
            </div>
                <div class="form-buttons">
                    {{ form_widget(sortiesFiltersForm.submit) }}

                </div>
                {{ form_end(sortiesFiltersForm) }}
            </div>


        <div class="sortieContainer">

            {% if sorties|length == 0 %}

                <h2 class="sortie">Aucun résultat ne correspond à votre recherche</h2>

            {% else %}

                <p>{{ sorties|length }} résultats trouvés</p>

                {% for sortie in sorties %}


                    <article class="sortie">
                        {#                    Titre + lien modif / affichage #}

                        <button class="field-titre">
                            <a
                               href="{{ path('afficherSortie', {'id': sortie.id}) }}">{{ sortie.titre }}
                            </a>
                        </button>

                        {#                    Date début sortie #}
                        {% if sortie.etat.code == 'ANN' %}
                            <div class="field-dateDebut">
                                <p class="field-dateDebut"> Motif d'annulation : {{ sortie.motif }}</p>
                            </div>
                        {% else %}
                            <div class="field-dateDebut">
                                <p class="field-dateDebut"> Descriptif : {{ sortie.infosSortie }}</p>
                            </div>
                        {% endif %}


                        {#                    Date début sortie #}
                        <div class="field-dateDebut">
                            <p class="field-dateDebut"> Début : {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</p>
                        </div>

                        {#                    Clôture #}
                        <div>
                            <p> Limite d'inscription : {{ sortie.dateLimiteInscription|date('d/m/Y H:i') }}</p>

                        </div>

                        {#                    inscrits/places #}
                        <div>
                            <p class="field-Inscriptions"> Nombre d'inscrits : {{ sortie.usersInscrits.count }}
                                / {{ sortie.nbInscriptionsMax }}</p>
                        </div>


                        {#                    Etat #}
                        <div>
                             <p class="field-etat">  {{ sortie.etat.libelle }}</p>
                        </div>


                        {#                    Inscrit #}
                        <div>
                            {% if sortie.usersInscrits.contains(app.user) %}
                            {% endif %}
                        </div>

                        {#                    Organisateur #}
                        <div>
                            <a class="field-orga" href="{{ path('afficherProfil', {'id' : sortie.organisateur.id}) }}">
                                {{ sortie.organisateur.pseudo }}</a>
                        </div>

                        {#                    <p class="field-orga">{{ sortie.organisateur.pseudo }}</p> #}

                        {#                    Actions #}
                        {% if sortie.etat.code != 'ANN' %}
                        {% if sortie.dateLimiteInscription > now %}
                            {% if sortie.usersInscrits.contains(app.user) %}

                                <button>
                                    <a class="field-actions" href="{{ path('seDesisterSortie', {'id': sortie.id}) }}">Se
                                        désister</a>
                                </button>
                            {% else %}
                                <button>
                                    <a class="field-actions"
                                       href="{{ path('sInscrireSortie', {'id': sortie.id}) }}">S'inscrire</a>
                                </button>
                            {% endif %}
                        {% endif %}
                        {% endif %}
                        {% if sortie.organisateur == app.user and sortie.etat.code == 'ENR' %}
                            <button>
                                <a class="field-actions"
                                   href="{{ path('modifierSortie', {'id': sortie.id}) }}">Modifier</a>
                            </button>
                        {% endif %}


                    </article>

                {% endfor %}
            {% endif %}
        </div>

    </div>

{% endblock %}
