{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }}
    - Ajouter une sortie
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
    <link rel="stylesheet" href="{{ asset('css/formPopUp.css') }}" >
{% endblock %}



{% block body %}
<div class="baseForm">

    <h1>Modification de {{ sortie.titre }}</h1>



    {{ form_start(sortieForm) }}
    <div class="wrapper">
        <div class="form">
            <div class="form-row">
                {{ form_label(sortieForm.titre) }}
                {{ form_widget(sortieForm.titre) }}
                {{ form_errors(sortieForm.titre) }}
            </div>

            <div class="form-row">
                {{ form_label(sortieForm.dateHeureDebut) }}
                {{ form_widget(sortieForm.dateHeureDebut) }}
                {{ form_errors(sortieForm.dateHeureDebut) }}
            </div>

            <div class="form-row">
                {{ form_label(sortieForm.duree) }}
                {{ form_widget(sortieForm.duree) }}
                {{ form_errors(sortieForm.duree) }}
            </div>

            <div class="form-row">
                {{ form_label(sortieForm.dateLimiteInscription) }}
                {{ form_widget(sortieForm.dateLimiteInscription) }}
                {{ form_errors(sortieForm.dateLimiteInscription) }}
            </div>

            <div class="form-row">
                {{ form_label(sortieForm.nbInscriptionsMax) }}
                {{ form_widget(sortieForm.nbInscriptionsMax) }}
                {{ form_errors(sortieForm.nbInscriptionsMax) }}
            </div>

            <div class="form-row">
                {{ form_label(sortieForm.infosSortie) }}
                {{ form_widget(sortieForm.infosSortie) }}
                {{ form_errors(sortieForm.infosSortie) }}
            </div>

            <div class="form-row">
                {{ form_label(sortieForm.siteOrganisateur) }}
                {{ form_widget(sortieForm.siteOrganisateur) }}
                {{ form_errors(sortieForm.siteOrganisateur) }}
            </div>

            <div class="form-row">
                {{ form_label(sortieForm.ville) }}
                {{ form_widget(sortieForm.ville) }}
                {{ form_errors(sortieForm.ville) }}
            </div>

            <div class="form-row">
                {{ form_label(sortieForm.lieu) }}
                <div class="form-row-lieu">
                    {{ form_widget(sortieForm.lieu) }}
                    {{ form_widget(sortieForm.ajouterLieu) }}

                    {{ form_errors(sortieForm.lieu) }}
                </div>
            </div>

            <div class="form-row">
                <p id="newRue">Rue : </p>

                <p id="newCodePostal">Code Postal : </p>

                <p id="newLatitude">Latitude : </p>

                <p id="newLongitude">Longitude : </p>
            </div>

            <div class="form-button">
                {{ form_label(sortieForm.enregistrer) }}
                {{ form_widget(sortieForm.enregistrer) }}


                {{ form_label(sortieForm.publier) }}
                {{ form_widget(sortieForm.publier) }}


                {{ form_label(sortieForm.annuler) }}
                {{ form_widget(sortieForm.annuler) }}

            </div>


            {{ form_end(sortieForm) }}

        </div>


        <div class="form-popup form-container">
            {{ form_start(lieuForm) }}
            <h2>Ajouter un lieu</h2>
            {{ form_widget(lieuForm) }}
            <button id="btnAjouter" class="btn">Ajouter</button>
            <button class="btn cancel" onclick="closeForm()">Annuler</button>
            {{ form_end(lieuForm) }}
        </div>

    </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascript/formAjouter.js') }}"></script>
    <script>
        function changeLieu(){

            let idVille = document.getElementById('modifier_sortie_ville').value


            fetch('{{ path('listeLieu')}}/' + idVille).then((response) => response.json())
                .then((data) => villeData(data))
        }
        function villeData(data){

            console.log(data)


            let lieuSelect = document.getElementById('modifier_sortie_lieu')

            lieuSelect.innerHTML='';

            for (const elem of data) {
                lieuSelect.innerHTML+='<option value="' + elem.id + '">' + elem.nom + '</option>';
            }

            let newRue = document.getElementById('newRue')
            let newCodePostal = document.getElementById('newCodePostal')
            let newLatitude = document.getElementById('newLatitude')
            let newLongitude = document.getElementById('newLongitude')

            newRue.innerText='Rue : ' +data[0].rue;
            // newCodePostal.innerText='Code Postal : ' +data[0].codePostal;
            newLatitude.innerText='Latitude : ' +data[0].latitude;
            newLongitude.innerText='Longitude : ' +data[0].longitude;

        }

        function changeInfo(){

            let idVille = document.getElementById('modifier_sortie_ville').value

            fetch('{{ path('listeLieu')}}/' + idVille).then((response) => response.json())
                .then((data) => lieuData(data))

        }

        function lieuData(data){

            let lieuSelect = document.getElementById('modifier_sortie_lieu')

            indexLieu = lieuSelect.selectedIndex

            let newRue = document.getElementById('newRue')
            let newCodePostal = document.getElementById('newCodePostal')
            let newLatitude = document.getElementById('newLatitude')
            let newLongitude = document.getElementById('newLongitude')

            newRue.innerText='Rue : ' +data[indexLieu].rue;
            // newCodePostal.innerText='Code Postal : ' +data[indexLieu].codePostal;
            newLatitude.innerText='Latitude : ' +data[indexLieu].latitude;
            newLongitude.innerText='Longitude : ' +data[indexLieu].longitude;

        }

    </script>
{% endblock %}



