<nav>
    <div>
            {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('villes') }}">Villes</a>
                    <a href="{{ path('campus') }}">Campus</a>
            {% endif %}
                <a href="{{ path('homepage') }}">Accueil</a>
    </div>

    <div>
        <p>Date du jour : {{ "now"|date("d/m/Y") }}</p>
    </div>

    <div>
        {% if not is_granted('IS_AUTHENTICATED') %}
            <a href="{{ path('app_login') }}">Connexion</a>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED') %}
            <p>Participant : {{ app.user.nom }}</p>
            <a href="{{ path('profil', {'id': app.user.id}) }}">Mon profil</a>
            <a href="{{ path('app_logout') }}">Déconnexion</a>
        {% endif %}
    </div>
</nav>