<nav>
    <section>
    <div class="navSup">
        <img class="nav-logo" src="{{ asset('images/logo.png') }}" alt="logo sortir"
             width="250">
        <div class="navBar">
            <a href="{{ path('homepage') }}"><button class="nav-button">Accueil</button></a>

            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('villes') }}"><button class="nav-button">Villes</button></a>
                <a href="{{ path('campus') }}"><button class="nav-button">Campus</button></a>
            {% endif %}
            {% if app.user %}
            <a href="{{ path('sorties') }}"><button class="nav-button">Sorties</button></a>
            {% endif %}

        </div>

    </div>


        <div class="connexion">
            {% if not is_granted('IS_AUTHENTICATED') %}

            <div class="mon-profil">
                <div class="mon-profil-pseudo">
                    <a href="{{ path('app_login') }}">Connexion</a>
                </div>
                <div class="mon-profil-logo">
                    <a href="{{ path('app_login') }}">
                        <img class="image-profil" src="{{ asset('images/nav/connexion.png') }}" alt="profil"></a>
                </div>

                {% endif %}

                {% if is_granted('IS_AUTHENTICATED') %}

                    <div class="mon-profil">

                        <div class="mon-profil-logo">
                            <a href="{{ path('afficherProfil', {'id': app.user.id}) }}">
                                <img class="image-profil" src="{{ asset('images/nav/profil.png') }}" alt="profil"> </a>
                            <a href="{{ path('afficherProfil', {'id': app.user.id}) }}">{{ app.user.pseudo }}</a>

                        </div>

                    </div>
                    <div class="mon-profil-logout">
                        <div>
                            <a href="{{ path('app_logout') }}"><img class="image-deconnexion"
                                                                    src="{{ asset('images/nav/deconnexion.png') }}"
                                                                    alt="deconnexion"></a>
                        </div>
                        <div>
                            <a href="{{ path('app_logout') }}">Se déconnecter</a>
                        </div>

                    </div>
                {% endif %}
            </div>
        </div>
    </section>

</nav>