<nav>
    <section>
        <div class="navBar">
            <button class="nav-button"><a href="{{ path('homepage') }}">Accueil</a></button>
            {% if is_granted('ROLE_ADMIN') %}
                <button class="nav-button"><a href="{{ path('villes') }}">Villes</a></button>
                <button class="nav-button"><a href="{{ path('campus') }}">Campus</a></button>
            {% endif %}
            {% if app.user %}
                <button class="nav-button"><a href="{{ path('sorties') }}">Sorties</a></button>
            {% endif %}

        </div>


        <div class="connexion">
            {% if not is_granted('IS_AUTHENTICATED') %}

            <div class="mon-profil">
                <div class="mon-profil-pseudo">
                    <a href="{{ path('app_login') }}">Connexion</a>
                </div>
                <div class="mon-profil-logo">
                    <a href="{{ path('app_login') }}">
                        <img class="image-profil" src="{{ asset('images/nav/connexion.png') }}" alt="profil"></a>
                </div>

            {% endif %}

            {% if is_granted('IS_AUTHENTICATED') %}

            <div class="mon-profil">
                <div class="mon-profil-pseudo">
                    <a href="{{ path('afficherProfil', {'id': app.user.id}) }}">
                        {{ app.user.pseudo }}</a>
                </div>
                <div class="mon-profil-logo">
                    <a href="{{ path('afficherProfil', {'id': app.user.id}) }}">
                        <img class="image-profil" src="{{ asset('images/nav/profil.png') }}" alt="profil"></a>
                </div>

            </div>
            <div class="mon-profil">
            <a href="{{ path('app_logout') }}"><img class="image-deconnexion" src="{{ asset('images/nav/deconnexion.png') }}" alt="deconnexion"></a>
            </div>
            {% endif %}
            </div>
        </div>
    </section>

</nav>