{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/forms.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profil.css') }}">
{% endblock %}


{% block title %}
    {{ parent() }} - Profil
{% endblock %}

{% block body %}
<section class="baseForm">


    <section>
        <div>
            {% if user.picture %}
                <div>
                    <img src="{{ asset('uploads/brochures/' ~ user.picture) }}" alt="Photo du profil" height="200 px">
                </div>
            {% else %}
                <div>
                    <img src="{{ asset('images/profile/profilePicDefault.png') }}" alt="Photo du profil" height="200 px">
                </div>
            {% endif %}


        </div>
    </section>

    <div class = 'profil'>
        <p>{{ user.pseudo }}</p>
        <p>{{ user.nom }}</p>
        <p>{{ user.prenom }}</p>
        <p>{{ user.telephone }}</p>
        <p>{{ user.email }}</p>
        <p>{{ user.campus.nom }}</p>
    </div>


    {% if app.user == user %}
        <div class="divButton">
        <button class="modifier"><a href="{{ path('modifierProfil', {'id': app.user.id}) }}">Modifier mon profil</a></button>
        </div>
    {% endif %}
</section>
{% endblock %}
